<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ABPCommercial" value="https://nuget.abp.io/3da6e1ea-4ac4-4112-ba86-c219fcf7ef21/v3/index.json" />
    </packageSources>
	<packageSourceCredentials>
		<ABPCommercial>
		  <add key="Username" value="ABPCommercial_USERNAME" />      
		  <add key="ClearTextPassword" value="ABPCommercial_Password" />
		</ABPCommercial>
  </packageSourceCredentials>
</configuration>